.navbarYeni{
    font-family: cursive;
    background-color:burlywood;
    
}

.isim{
    font-family:cursive;
    font-style: oblique;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 140px;
}

.imgEmel{
    padding-top: 20px;
    padding-left: 30px;
    width: 700px;
    height: 700px;
   /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   /* filter: grayscale(100%); */

}

.hakkimda{
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 80px;
    font-family: monospace;
    font-size: 15px;
    
}

.sosyalMedya{
    width: 50px;
    height: 50px;
}

.baslik{
    font-family: cursive;
}

.bosluk{
    margin-top: 70px;
}

.slider{
   max-width: 1000px;
  position: relative;
  margin: auto;
}

.imgMiras{
    width: 750px;
    height: 600px;
    padding-top: 20px;
    padding-left: 30px;
}